.size {
    width: 125px;
    height: 40px;
}

.align {
    width: 40px;
    border-radius: 15px;
}

.style {
    color: #8c8c8c;
}

.txt:hover {
    text-decoration: underline;

}

@media screen and (min-width: 1190px) {
    .nav1 {
        margin-left: 30px;
    }
}

@media screen and (max-width: 768px) {
    .box {
        display: flex;
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 320px) {
    .margin {
        margin-left: 10px;
    }


}

.color {
    background-color: #f4f5f5;
}

.card-color {
    background-color: #e65f42;
    border-radius: 19px;
}

.card-border {
    border-radius: 19px;
}

.image-size {
    width: 12em;
}

.card-margin {
    margin-top: 85px;
}

.card-margin1 {
    margin-top: 70px;
}

.font-color {
    color: #fff59f;
}

.image-rel {
    position: relative;
}

.image-text {
    position: absolute;
    bottom: 2em;
}

.image-text1 {
    position: absolute;
    top: 2em;
}

.button-style {
    width: 20em;
    height: 4em;
    border-color: #007ee5;
    border-radius: 2em;
    color: #007ee5;
}

li {
    line-height: 4px;
}

.style-list {
    border: none;
    background-color: #313233;
    color: #8c8c8c;
    cursor: pointer;
    font-size: 15px;

}

.style-list:hover {
    color: cornflowerblue;
}

.style-listhead {
    border: none;
    background-color: #313233;
    color: #fff;
    font-weight: bolder;
}

.style-listfirst {
    border: none;
    background-color: #313233;
    color: #8c8c8c;
    margin-top: 1em;
    font-size: 15px;
    cursor: pointer;

}

.style-listfirst:hover {
    color: cornflowerblue;
}

.style-listend {
    border: none;
    background-color: #141414;
    color: #8c8c8c;
    font-size: 13px;
    cursor: pointer;
}

.style-listend:hover {
    color: cornflowerblue;
}